.JobsArea {
  
}

.JobAreaBtn {
  background-color: #ff2975;
  border-radius: 1.5em;
  text-transform: uppercase;
  border-color: transparent;
  color: white;
  margin: 50px auto;
  padding: 1.5em 2.75em;
  text-align: center;
  line-height: 0;
  display: block;
  font-size: 1.12em;

  letter-spacing: 0.35px;
  width: 100%;
  max-width: 250px;
  box-shadow: 0px 2px 13px rgba(120, 120, 120, 0.5);
}
