// App colors
$primaryColor: #74B4FF;
$secondaryColor: #6C8EF9;
$textColor: #A9A9A9;
$footerColor: #384170;

// Typography
$primary-font: 'Open Sans', sans-serif;

 // Media queries breakpoints
$screen-xs: 575.999px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;

// Grid default
$containerWidth: 1110px;

// ...
// xs: '575.999', //<
// sm: '576px', // >=
// md: '768px', //  >=
// lg: '992px', // >=
// xl: '1200px', // >=
// xxl: '1600px', // >==

//https://www.productboard.com/