@import "../../../variables.scss";

.ClientBoxLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: $containerWidth;
  margin: 0 auto;
  margin-top: -90px;
  > div {
    width: 29.9% !important;
    height: 9.9vw;
  }
}


@media screen and (max-width: $screen-md) {
  .ClientBoxLayout {
    > div {
      margin: 10px auto;
      width: 47% !important;
      height: 20vw;
    }
  }
}

@media screen and (max-width: $screen-sm) {
  .ClientBoxLayout {
    > div {
      width: 95% !important;
      height: 33.333vw;
    }
  }
}
