@import "../../../variables.scss";


.ProcessArea {
  background-color: #edeefb;
}

.ProcessAreaBody {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0px 16px;
  // position: relative;
  // top: -300px;
  > div > div {
    margin-bottom: 16px !important;
  }
}