@import "../../../../variables.scss";

.HeadingArea {
  padding: 150px 0px;
  text-align: center;
  background-color: white;

  P {
    font-size: 15px;
    line-height: 2.15em;
  }
}

.HeadingAreaTitle {
  font-size: 32px;
  font-weight: bold;
  color: black;
  margin-bottom: 50px;
  display: block;
}

.HeadingAreaTitle::after {
  content: " ";
  width: 5%;
  height: 2px;
  color: #475059;
  background-color: $primaryColor;
  display: block;
  margin: 25px auto;
}
