@import "../../../variables.scss";


.HeadingArea {
  padding: 150px 0px;
  text-align: center;
  background-color: white;

  P {
    font-size: 0.9em;
    line-height: 2.46em;
    color: #828081;
    font-weight: 500;
  }
}


.HeadingAreaLeft {
  text-align: left;
  .HeadingAreaTitle::after {
    margin: 30px 5px;
  }
  p {
    max-width: 390px;
  }
}

.HeadingAreaTitle {
  font-size: 2.20em;
  font-weight: 700;
  font-family: $primary-font;
  color: #090909;
  margin-bottom: 35px;
  display: block;
}

.HeadingAreaTitle::after {
  content: " ";
  width: 5%;
  height: 2px;
  color: #475059;
  background-color: $primaryColor;
  display: block;
  margin: 20px auto;
}

@media screen and (max-width: $screen-md) {
  .HeadingArea {
    font-size: 14px;
    padding: 100px 0;
  }
  .HeadingAreaLeft .HeadingAreaTitle::after {
    text-align: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }
  .HeadingAreaLeft {
    text-align: center;
  }
   p {
     width: 100%;
     margin: 0 auto;
   }
}