@import "../../../variables.scss";

.OpenSource {
  max-width: $containerWidth;
  margin: 0 auto;
}

.OpenSourceImgContainer {
  position: relative;
  position: relative;
  height: 450px;
  width: 450px;
}

.OpenSourceImg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-origin: center;
  background-size: cover;
  background-image: url('/public/images/demo4.png');
}

@media screen and (max-width: $screen-lg) {
  .OpenSourceImgContainer {
    margin: 0 auto;
  }
  .OpenSourceRow {
    flex-direction: column-reverse;
    display: flex;
    flex-wrap: wrap;
  }
  .OpenSourceImgContainer {
    max-width: 100vw;
    max-height: 100vw;
  }
}
