@import "../../../variables.scss";

.OpenSource {
  max-width: $containerWidth;
  margin: 0 auto;
}

.OpenSourceImgContainer {
  position: relative;
  position: relative;
  height: 450px;
  width: 450px;
  // margin: 0 auto;
}

.OpenSourceImg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-origin: center;
  background-size: cover;
  background-image: url('/public/images/demo4.png');
}