@import "../../../variables.scss";

.Blog {
  background-color: #f1f1f6;
  padding: 120px 0px;
}

.BlogItem {
  display: block !important;
  margin: 0px 15px !important;
  width: auto !important;
}


@media screen and (max-width: $screen-lg) {
  .CaseStudySwiper {
    background-color: red;
  }
}
