@import "../../../variables.scss";

.CaseStudyContainer {
  position: relative;
  // z-index: 100;
  padding: 260px 15px;
  background-color: #edeefb;
  font-size: 16px;
}

.BtnLayout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.CaseStudy {
  max-width: $containerWidth;
  margin: 0 auto;
  overflow: none;
}

.CaseStudyItem {
  display: block !important;
  margin: 0px 15px !important;
  width: auto !important;
}

.CaseStudySwiperContainer {
  // background-color: red;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
}

@media screen and (max-width: $screen-lg) {
  .CaseStudySwiperContainer {
    position: static;
    transform: translate(0%);
    top: initial;
    right: initial;
    margin-top: 90px;
  }
  .BtnLayout {
    justify-content: center;
    align-items: center;
  }
  .CaseStudyContainer {
    padding: 150px 15px;
  }
}

