.Header {
  padding-top: 20px;
  color: #000;
  ul {
    text-align: right;
  }

  li {
    text-align: right;
    list-style: none;
    display: inline-block;
    margin: 15px;
    // padding: 15px;
    > a {
      color: white;
    }
  }
}
