.Header {
  padding-top: 20px;
  color: #000;
  ul {
    text-align: right;
  }

  li:nth-last-child(1) { 
    margin-right: 0px;
  }

  li {
    text-align: right;
    list-style: none;
    display: inline-block;
    margin: 15px 25px;
    // padding: 15px;
    > a {
      color: #efeffb;
    }
  }
}
