.SocialCircle {
  border-radius: 50%;
  position: relative;
  height: 34px;
  width: 34px;
  display: inline-block;
  margin-right: 17px;
  margin-top: 17px;
}

.SocialCircleImg {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  position: absolute;
}
