@import "../../../variables.scss";

.TeamAreaBox {
  // background-color: red;
  border-radius: 5px;
  height: 500px;
  max-height: 500px;
  max-width: 320px;
  width: 320px;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  font-size: 16px;
  background-color: transparent;
  box-shadow: 0 2px 35px hsla(0,0%,78.4%,.33);
  border: 1px solid #f4f9ff;
  margin: 16px auto;

  margin: 16px auto;
  display: block;
}

.TeamAreaBoxImgContainer {
  position: relative;
  height: 315px;
  width: 100%;
}

.TeamAreaBoxImg {
  background-position: center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.TeamAreaBoxSummary {
  padding: 2.25em;
  text-align: left;
  background-color: white;
  > span {
    font-size: 1.12em;
    font-weight: 700;
    color: #000;
    display: block;
    line-height: 1.72em;
  }

  > p {
    font-size: 0.88em;
    margin-top: 0.35em;
    color: #777777;
    line-height: 2.12em;
    font-weight: 500;
    text-shadow: 0 0 1px rgba(186, 182, 182, 0.21);
  }
}


@media screen and (max-width: $screen-md) {
  .TeamAreaBox {
    display: block;
    margin: 15px auto;
    height: 480px;
    max-width: 90%;
  }
  .TeamAreaBoxSummary {
    padding: 1.25em;
  }
}