@import "../../../variables.scss";

.PressArea {
  background-image: url('/public/images/background-1.png');
  background-origin: center;
  background-size: cover;
}

.PressAreaBody {
  max-width: $containerWidth;
  margin: 0 auto;
}
