@import "../../../variables.scss";

.PressArea {
  background-image: url('/public/images/background-1.png');
  background-origin: center;
  background-size: cover;
  padding-bottom: 250px;
}

.PressAreaSwiperContainer {
  .PressAreaSwiperSlide {
    width: 29% !important;
    margin: 0px auto;
    // figure {
      // max-width: 90% !important;
      // width: auto !important;
    // }
  }
}

.PressAreaBody {
  max-width: $containerWidth;
  margin: 0 auto;
}
