@import "../../../variables.scss";

.PressArea {
  background-image: url('/public/images/background-1.png');
  background-origin: center;
  background-size: cover;
  padding-bottom: 250px;
}

.PressAreaSwiperContainer {
}

.PressAreaSwiperSlide {
  display: block !important;
  margin: 0px 15px !important;
  width: auto !important;
}

.PressAreaBody {
  max-width: $containerWidth;
  margin: 0 auto;
}
