@import "../../../../variables.scss";

.MainSection {
  // background: red;
  position: relative;
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: flex-start;
  // overflow-y: auto;
}

.MainSectionTitle {
  color: white;
  font-size: 37px;
  line-height: 1.12;
  font-weight: bold;
  font-size: 5.45vw;
  display: block;
}

.MainSectionBody { 
  padding: 12px 0;  
  display: block;
  color: white;
  font-size: 17px;
  // font-size: 2vw;
  margin: 40px 0px;
}

.MainSectionHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.MainSectionBtn {
  padding: 15px 30px;
  font-size: 16px;
  max-width: 290px;
  height: unset;
  background-color: #fff;
  color: $primaryColor;
  font-weight: 700;
  width: 100%;
  border-radius: 30px;
}

.MainSectionContainer {
  transform: translateY(-50%);
  top: 50%;
  position: relative;
}
